.auth_container{
  margin: 10px 50px;
}
.auth_container input{
  border: 1.3px solid gray;
  padding: 8px 10px;
  font-size: 18px;
  width: 96%;
  margin-bottom: 12px;
}
.auth_container .btn{
  padding: 6px 17px;
  font-size: 18px;
  border: none;
  background-color: gray;
  color: white;
}
.auth_container .paper{
  width: 50%;
  padding: 15px;
  border: 1px dashed gray;
  margin: 8em auto;
}
@media(max-width:764px){
  .auth_container .paper{
    width: 90%;
  }
}

.btn-danger{
  padding: 6px 17px;
  font-size: 18px;
  border: none;
  background-color: maroon;
  color: white;
  float: right;
  margin-right: 1.6rem;
}

.table{
  width: 100%;
  border-collapse: collapse;

}
.table th , td{
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.table th {
  padding: 15px 10px;
}